<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Get Product/Market Fit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">    
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" 
          rel="stylesheet" type="text/css">
    <style type="text/css">

      /* Large desktop */
      @media (min-width: 980px) { 
        body {
         padding-top: 60px;
        }
       .linediv-l {
         border-right: 1px white solid;
        }
       .linediv-r {
         border-left: 1px white solid;
       }
      }

      /* Landscape phones and down */
      @media (max-width: 480px) { 
       .copy {
         padding: 2.5% 10%;
       }
       .linediv-l {
         border-bottom: 1px white solid;
       }
       .linediv-r {
         border-top: 1px white solid;
       }
      }

      /* All form factors */

      /* Main body and headings */
      body{
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      }
      .heading, .subheading {
        font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
        text-align: center;
      }
      p.lead {
        padding-top: 1.5%;
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
      }

      /* Video pitch and Action */
      .pitch {
        padding: 2.5% 0%;
      }
      .order {
        padding: 2% 0%;
      }
      .actions {
        background-color: #343434;
        padding: 3% 0%;
      }
      .video, .thermometer, .order, .social, .statistics {
        text-align: center;
      }
      .statistics h3, .statistics p {
        color: white;
      }

      /* Marketing Copy and Footer */
      .copy {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        text-align: justify;
      }
      .asset {
        padding: 2.5% 0%;
      }
      .footer {
        color: #cccccc;
        text-align: center;
      }
      .footer p {
        font-size: 11px;
      }
      .footer a {
        color: #ccccff;
      }

     /* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */      
     div.addthis_toolbox {
      width: 174px;
      margin: 0 auto;
     }
.tier-row{
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.reward{
	padding: 0 10px 10px 10px;
}
body{
	background-color: #D1EFFF;
}
    </style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42843113-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>

    <!-- Mobile-friendly navbar adapted from example. -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar"
                  data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">GetPMF</a>
 
<!--         <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="/orders">Orders</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
-->
<!--/.nav-collapse -->

        </div>
      </div>
    </div>

    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->
    <div class="container">
      <!-- Font and paired font of .heading/.subheading and body from Google Fonts -->
      <!-- www.google.com/fonts/specimen/Ubuntu -->
      <!-- www.google.com/fonts/specimen/Ubuntu#pairings -->
      <div class="row-fluid heading">
        <div class="span12">
          <h1>Get Product/Market Fit!</h1>
        </div>
      </div> 
      <div class="row-fluid subheading">
        <div class="span12">
          <!-- Special typography from Bootstrap for lead paragraph. -->
          <!-- http://twitter.github.io/bootstrap/base-css.html#typography -->
          <p class="lead">Hackers, it's not about coding anymore, it's about Product/Market Fit</p>
        </div>
      </div>
      <div class="row-fluid pitch">
        <div class="span5 offset1 video">
<iframe width="300" height="225" src="//www.youtube.com/embed/WhREpxKaiLQ" frameborder="0" allowfullscreen></iframe>
        </div>

        <!-- We define a new 'actions' div to contain statistics, order, and share buttons.-->
        <div class="span5 actions">
          <div class="row-fluid">
          <div class="span8 offset2">
            <div class="row-fluid statistics">
              <div class="span4">
                <!-- linediv-l and linediv-r give dividing lines that look
                different in horizontal and vertical layouts, illustrating
                media queries. -->
                <div class="linediv-l">
                <h3><%= orders.length %></h3> <p>backers</p>
                </div>
              </div>
              <div class="span4">
                <div class="linediv-c">
                  <h3>$<%= total %></h3> <p>of $<%= target %></p>
                </div>
              </div>
              <div class="span4">
                <div class="linediv-r">
                <h3><%= days_left %></h3> <p>days left</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row-fluid">
          <div class="span10 offset1">
            <!-- Bootstrap progress bar -->
            <!-- http://twitter.github.io/bootstrap/components.html#progress -->
            <div class="thermometer progress active">
              <div class="bar bar-success" style="width: <%= perc %>%;"></div>
              <div class="bar bar-warning" style="width: <%= 100-perc %>%;"></div>
            </div>
          </div>
          </div>
          <div class="row-fluid">
          <div class="span6 offset3 order">
<a class="coinbase-button" data-code="dbf7fd368182b11637e30891b8f2ec7e" data-button-style="custom_small" href="https://coinbase.com/checkouts/dbf7fd368182b11637e30891b8f2ec7e">Preorder PMF Tool</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

	  </div>
          </div>
          <div class="row-fluid">
          <div class="span8 offset2 social">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
            </div>
	     <script type="text/javascript">var addthis_config = 
	      {"data_track_addressbar":true};</script>
	     <script type="text/javascript" 
 		     src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51e5f5d9549fdf9b"></script>
            <!-- AddThis Button END -->
          </div>
          </div>
        </div>
        </div>
      </div>

      <!-- Beyond this part the marketing copy begins. -->
      <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
      <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
      <!-- http://placehold.it -->
<div class="row-fluid section0" style="text-align:center">
<div class="span8 offset2">
	<h3>GetPMF is a tool that will guide you step-by-step in finding Product/Market Fit.</h3>
</div>
</div>
 
<div class="row-fluid section3">
<div class="span6 offset3 copy">
<h3 style="text-align:center">What's In the box</h3>
<p>
<ul>
<li><strong>1 learn section</strong> with blog posts, articles, books on how to reach the Mecca of startups</li>
<li><strong>1 forum section</strong>, where people ask and answer questions, tell stories of fail and success</li>
<li><strong>1 report card tool</strong> to build a Product/Market Fit Report Card and fool investors to invest more money</li>
<li><strong>1 dreadful wizard</strong> to get you going</li>
</ul>
</p>
</div>
</div>

     <div class="row-fluid section1">
        <div class="span5 offset1 copy">
	<h3 style="text-align: center">Startups</h3>
<p>
<ol>
	<li><strong>Learn</strong> why ninja PMF skill is more important than ninja hacking skills</li>
	<li>Use the <strong>step-by-step tool</strong> to achieve PMF enlightenment</li>
	<li><strong>Create PMF report card</strong> to increase your chances for funding and decrease crying like a baby</li>

</ol>
</p>
        </div>
        <div class="span5 copy">
<h3 style="text-align: center">Investors</h3>
<ol>
<li>
	<strong>Better evaluation</strong> of startup applications is much easier when you have <a href="/report_card">Report Card</a> on how far and in what way they have tried to achieve Product Market Fit. 
</li>
<li>
	<strong>Teaching startups</strong> how to achieve PMF from day 1 will bring more quality applications, higher chances of success and so higher returns.
</li>
</ol>
     
       </div>
      </div>


<div class="row-fluid ">
<div class="span6 offset3 copy ">
<h3 style="text-align:center">Why Product/Market Fit?</h3>

<p>
Legends like <a href="http://www.paulgraham.com/good.html" target="_blank">Paul Graham</a>, <a href="http://web.archive.org/web/20070701074943/http://blog.pmarca.com/2007/06/the-pmarca-gu-2.html" target="_blank">Mark Andreessen</a>, <a href="http://steveblank.com/2013/09/05/why-real-learning-is-outside-the-building-not-demo-day/" target="_blank">Steve Blank</a> have recognized that Product/Market Fit is THE most important aspect for a startup.
</p>
<p>
There are articles, books, essays on what it means and why PMF is important. Yet, there isn't an openly discussed systematic approach and tracking tool to achieve it. GetPMF aims to be that.
</p>
</div>
</div>




<div class="row-fluid tier-row">
<div class="span6 offset3 copy ">
<h3 style="text-align:center">Contribution Tiers</h3>
</div>
</div>



<div class="row-fluid tier-row">
<div class="span3 offset3 tier" style="position:relative;">
<a href="https://twitter.com/share" class="twitter-share-button" data-text="This student project looks interesting." data-via="StartupMOOC" data-size="large" data-hashtags="StartupMOOC">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<div class="span6 reward">
- One <strong>random funny cat</strong> link.<br/>
</div>
</div>


<div class="row-fluid tier-row">
<div class="span3 offset3 tier" style="position:relative;">
<a class="coinbase-button" data-button-text="0.01 btc" data-code="9f194436881f76415ac61f98e10b1694" data-button-style="custom_small" href="https://coinbase.com/checkouts/9f194436881f76415ac61f98e10b1694">Pay With Bitcoin</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
</div>
<div class="span6 reward">
- Early access to the <strong> forum section</strong>.<br/>
- One <strong>random funny cat</strong> link.<br/>
</div>
</div>

<div class="row-fluid tier-row">
<div class="span3 offset3 tier">
<a class="coinbase-button" data-button-text="0.1 btc" data-code="1497a21f06dd3c3b92f00cc5e0ac41ae" data-button-style="custom_small" href="https://coinbase.com/checkouts/1497a21f06dd3c3b92f00cc5e0ac41ae">Pay With Bitcoin</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
</div>
<div class="span6 reward">
- Early access to the <strong>report card tool</strong>.<br/>
- Early access to the <strong> forum section</strong>.<br/>
- One <strong>random funny cat</strong> link.<br/>
</div>
</div>

<div class="row-fluid tier-row">
<div class="span3 offset3 tier">
<a class="coinbase-button" data-button-text="1 btc" data-code="35e02c1279febc1289d2278fb520a1d1" data-button-style="custom_small" href="https://coinbase.com/checkouts/35e02c1279febc1289d2278fb520a1d1">Pay With Bitcoin</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
</div>
<div class="span6 reward">
- Early access to the <strong>step-by-step wizard </strong>.<br/>
- Early access to the <strong>report card tool</strong>.<br/>
- Early access to the <strong> forum section</strong>.<br/>
- One <strong>random funny cat</strong> link.<br/>
</div>
</div>



<div class="row-fluid tier-row">
<div class="span3 offset3 tier">
<a class="coinbase-button" data-button-text="10 btc" data-code="e9c07865625350b9323bdf3e375f545c" data-button-style="custom_small" href="https://coinbase.com/checkouts/e9c07865625350b9323bdf3e375f545c">10 btc</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>  
</div>
<div class="span6 reward">
- You must want an investor account, <strong>I will fly</strong> to meet you. 
</div>
</div>











      <!-- For the FAQ, we introduce a little bit of JS, using the accordion. -->
      <!-- This brings in jquery.js and bootstrap.js as dependencies. -->
      <!-- http://twitter.github.io/bootstrap/javascript.html#collapse -->
<!--   
   <div class="row-fluid faq">
          <div class="span10 offset1">
            <h3>FAQ</h3>
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseOne">
                    What does FAQ stand for?
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Frequently Asked Question.
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseTwo">
                    What's a Frequently Asked Question?
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    A question which is commonly asked by users.
                  </div>
                </div>
              </div>
            </div>
          </div>

	      </div>
-->

      <!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
      <!-- http://creativecommons.org/licenses/ -->
      <div class="row-fluid footer">
        <div class="span12">
          <p>This work is licensed under
            the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC
              By-SA 3.0
            </a>, without all the cruft that would otherwise be
            put at the bottom of the page.</p>
        </div>
      </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43041267-1', 'getpmf.com');
  ga('send', 'pageview');

</script>
 </body>
</html>
